<% users.each do |user| %>
    <br>
        &ensp;
        <span>
            <div class="buttonArray">
                <%= user.id %>
                <%= user.email %>
                &ensp;
                <td>フォロー数: <%= user.followings.count %></td>
                <td>フォロワー数: <%= user.followers.count %></td>
                <td><%= render "/relationships/btn", user: user%></td>
                <%= link_to 'ユーザ詳細',  user_path(user.id), class: "btn_06" %>
            </div>
        </span>
<% end %>
